.navbar {
    position: fixed;
    background-color: var(--background-secondary-color);
    top: var(--header-height);
    width: 100%;
    left: 100%;
    transition: left ease-in-out 150ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
    font-size: 20px;
}

.navbar__list-item {
    display: flex;
    margin: 10px 0;
    color: #FFF;
    padding: 10px 0;
}

.navbar__list-item span {
    margin-left: 5px;
    display: grid;
    align-items: center;
    height: 20px;
}

.navbar--opened {
    left: 0;
}

@media only screen and (min-width: 768px) {
    .navbar {
        position: static;
        width: auto;
        background: none;
        border: none;
    }

    .navbar__list {
        flex-direction: row;
    }

    .navbar__list-item {
        margin: 0 10px;
        transition: all ease 150ms;
    }

    .navbar__list-item--active {
        opacity: 0.7;
    }

    .navbar__list-item:hover {
        opacity: 0.7;
    }

    .header__burger {
        display: none;
    }
}