:root {
  --background-color: #F4EBD9;
  --background-secondary-color: #4C1C03;
  --primary-color: #058ED9;
  --text-color: #373433;
  --header-height: 60px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}